#apikey {
  position        : absolute;
  right           : 9px;
  top             : 9px;
  height          : 31px;
  width           : 31px;
  background      : inherit;
  overflow        : hidden;
  z-index         : 100;
}
#apikey:hover, #apikey:focus {
  width           : 550px;
}

#apikey-background {
  position        : absolute;
  left            : -30px;
  top             : -30px;
  height          : 91px;
  width           : 565px;
  background-image: url('../assets/raster.png');
  pointer-events  : none;
}

/*
#apikey-input {
  height          : 31px;
  line-height     : 31px;
  width           : 100%;
  border          : none;
  outline         : none;
  background      : rgba( 255, 255, 255, 0.06 );
  padding-left    : 0.4em;
  padding-right   : 0.4em;
  transition      : all 110ms;
  font-family     : 'Archivo','Menomonia','Quicksand','griffo','almendra';
  font-size       : 9pt;
}

#apikey-input:not(:focus) {
  color           : transparent;
  text-shadow     : 0 0 18px rgba( 255, 255, 255, 0.5 );
  transition      : all 0ms;
}
*/

#apikey-cover {
  position        : absolute;
  left            : 50%;
  top             : 50%;
  height          : 31px;
  line-height     : 31px;
  width           : 320px;
  pointer-events  : none;
  transform       : translate( -50%, -40% );
  text-align      : center;
  font-family     : 'Archivo','Menomonia','Quicksand','griffo','almendra';
  font-size       : 10pt;
}

#apikey-ready {
  position        : absolute;
  left            : 0px;
  bottom          : 0px;
  height          : 3px;
  width           : 100%;
  background      : rgba( 1, 1, 1, 0.06 );
}

#apikey-ready-internal {
  position        : absolute;
  left            : 0px;
  top             : 0px;
  height          : 3px;
  width           : 0px;
  background      : rgba( 1, 1, 1, 0.13 );
}


#apikey-main {
  position        : absolute;
  width           : 300px;
  bottom          : 35px;
  left            : 30px;
  outline         : none;
  border          : none;
  padding         : 0;
  z-index         : 109;
}
#apikey-main:before {
  content         : ' ';
  position        : absolute;
  left            : 25px;
  top             : 11px;
  width           : 2px;
  height          : 23px;
  transform       : scale(0);
  z-index         : 110;
  background      : rgba(71, 136, 135, 1);
  transition      : all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
}
#apikey-main.active:before {
  transform       : scale(1);
  transition-delay: 0.3s;
  animation       : 0.6s cubic-bezier(.87, -.41, .19, 1.44) 0.5s infinite forwards focus;
}
#apikey-input {
  font-family     : 'Archivo';
  color           : rgba( 222, 222, 222, 1 );
  background      : rgba( 1, 1, 1, 0.37);
  border-radius   : 22px;
  position        : absolute;
  width           : 45px;
  height          : 45px;
  transition      : all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
}
.active #apikey-input {
  width           : 100%;
  padding-left    : 25px;
  border-radius   : 22px;
}
#apikey-button {
  outline         : none;
  background      : rgba( 15, 15, 15, 1);
  position        : absolute;
  height          : 100%;
  border-radius   : 50%;
  width           : 45px;
  height          : 45px;
  transition      : all 0.5s cubic-bezier(.87, -.41, .19, 1.44);
}
#apikey-button:after {
  content         : ' ';
  position        : absolute;
  width           : 32px;
  height          : 32px;
  left            : 0;
  right           : 0;
  transform       : translateY(-50%);
  margin          : 0 auto;
  background      : rgb(111, 111, 117);
  border-radius   : 50%;
}
#apikey-button:before {
  content         : ' ';
  position        : absolute;
  width           : 24px;
  height          : 24px;
  left            : 0;
  right           : 0;
  top             : 9px;
  transform       : scale(0);
  transform-origin: left top;
  margin          : 0 auto;
  background      : rgba( 1, 1, 1, 0.33 );
  border-radius   : 50%;
  z-index         : 110;
  transition      : all 0.8s ease;
}
.active #apikey-button {
  transform       : translateX(260px);
}
.active #apikey-button:before {
  transform       : scale(1);
}
#apikey-input.focus:before {
  transform       : scale(0);
  animation       : none;
}
@keyframes focus {
  0 {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#apikey-main {
}
#apikey-form {
  background      : inherit;
}
#apikey-input {
  outline         : none;
  overflow        : hidden;
}
#apikey-main-background {
  background      : inherit;
  filter          : blur(12px);
  position        : absolute;
  left            : -20px;
  top             : -20px;
  height          : 85px;
  width           : calc(100% + 40px);
  pointer-events  : none;
}